<% include partials/header %>
<h1>You fell in love with: <%= word %></h1>

<% if (word.toLowerCase() === "bor-gullet"){ %>
<img src="https://memegenerator.net/img/instances/500x/74351065/bor-gullet-can-feel-your-lies.jpg">
<% } %>

<% include partials/footer %>